.body_site_materia {
    position  : relative;
    width     : 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom,
            #033663,
            #0e4475,
            #175288,
            #20619b,
            #2870af);
    overflow: hidden;
}

.body_site_materia img {
    width              : 300px;
    height             : 300px;
    object-fit         : cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin   : center;

    transition: 0.5s;
    display   : block;
}

.body_site_materia h2 {
    color         : #fff;
    padding-bottom: 5px;
    border-bottom : solid 1px #fff;
    max-width     : 20%;
    margin        : auto;
    transform     : translateY(90%);
}

.body_site_materia .button_back_site_materia {
    display        : flex;
    justify-content: space-between;
    padding        : 10px;
}

.body_site_materia .button_back_site_materia img {
    display   : block;
    object-fit: cover;
    width     : 4%;
    height    : 40px;
}

.body_site_materia .button_back_site_materia button {
    position           : relative;
    display            :inline-block;
    padding            : 10px;
    width: 9%;
    background-color   : #fff;
    border             : 1px solid #033663;
    color              : #033663;
    transition         : all 0.4s ease-out;
}

.body_site_materia .button_back_site_materia button::before {
    position           : absolute;
    content            : "";
    bottom             : 0;
    left               : 0;
    width              : 100%;
    height             : 100%;
    transform-origin   : left 0;
    transform          : scaleX(0);
    z-index         : -1;
    transition         : all 0.4s ease-out;
    background-color   : #033663;
}

.body_site_materia .button_back_site_materia button:hover {
    transform: translateZ(0);
    color: #fff;
    border: solid 1px #fff;
}

.body_site_materia .button_back_site_materia button:hover::before {
    transform: scaleX(1);
}


.body_site_materia .container_flex_materias_site {
    display        : flex;
    width          : 100%;
    justify-content: center;
    align-items    : center;
    color          : #fff;
}

.body_site_materia .container_flex_materias_site a {
    color: #fff;
}


.body_site_materia .container_flex_materias_site .flex_materias_site {
    width: 55%;
}


.body_site_materia .carrusel_siteMaterias button {
    background-color: transparent !important;
    box-shadow      : none;
    color           : #fff;
    outline         : 0;
    cursor          : pointer;
}

.body_site_materia .carrusel_siteMaterias button:hover,
.body_site_materia .carrusel_siteMaterias button:focus {
    background-color: transparent !important;
    border          : none !important;
    border-color    : transparent;
    border-radius   : 0;
    color           : #ccc !important;
    box-shadow      : none !important;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia {
    transform: translateY(27%);
    width    : 45%;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia p,
.body_site_materia .container_flex_materias_site .contain_text_site_materia a {
    display  : block;
    max-width: 80%;
    margin   : auto;
    font-size: 17px;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia p {
    line-height  : 35px;
    margin-bottom: 20px;
    text-align   : justify;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia div {
    width: 100%;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia .button_consulta_site_materia {
    width: 100%;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia .button_consulta_site_materia a {
    display  : block;
    width    : 46%;
    border   : 1px solid #033663;
    padding  : 8px;
    transform: translateX(-37%);
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia .button_consulta_site_materia a:after {
    position  : absolute;
    transition: 0.3s;
    content   : "";
    width     : 0;
    right     : 0;
    left      : auto;
    bottom    : 0;
    height    : 100%;
    background: #033663;
    z-index   : -1;
    transition: all .4s ease-out;
}

.body_site_materia .container_flex_materias_site .contain_text_site_materia .button_consulta_site_materia a:hover:after {
    width: 100%;
    left : 0;
}

.body_site_materia .container_flex_materias_site .flex_materias_site div {
    flex-basis: 100%;
}


/* .site_materia_img_name */