.flex-materias {
  display        : flex;
  justify-content: space-evenly;
  flex-wrap      : wrap;
}

.materias-container {
  margin               : auto;
  display              : grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items        : center;
  width                : max-content;
}

.materia {
  padding               : 30px;
  text-align            : center;
  margin                : 5px;
  background-color      : #033663;
  opacity               : 1;
  background            : linear-gradient(135deg, #042e5255 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #042e52 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #042e5255 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #042e52 25%, #033663 25%) 0px 0/ 20px 20px;
  width                 : -webkit-fill-available;
  box-shadow            : 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition            : all 0.4s ease;
  color                 : #ccc;
  backface-visibility   : hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
}

.materia:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform : translateY(-3%);
}

.button_learn-more button {
  position       : relative;
  display        : inline-block;
  cursor         : pointer;
  outline        : none;
  border         : 0;
  vertical-align : middle;
  text-decoration: none;
  background     : transparent;
  padding        : 0;
  font-size      : inherit;
  font-family    : inherit;
  cursor         : pointer;
}

.button_learn-more button.learn-more {
  width : 12rem;
  height: auto;
}

.button_learn-more button.learn-more .circle {
  transition   : all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position     : relative;
  display      : block;
  margin       : 0;
  width        : 3rem;
  height       : 3rem;
  background   : #045194;
  border-radius: 1.625rem;
}

.button_learn-more button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position  : absolute;
  top       : 0px;
  bottom    : 0px;
  margin    : auto;
  background: #fff;
}

.button_learn-more button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left      : 0.625rem;
  width     : 1.125rem;
  height    : 0.125rem;
  background: none;
}

.button_learn-more button.learn-more .circle .icon.arrow::before {
  position    : absolute;
  content     : "";
  top         : -0.27rem;
  right       : 0.0625rem;
  width       : 0.625rem;
  height      : 0.625rem;
  border-top  : 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform   : rotate(45deg);
}

.button_learn-more button.learn-more:hover .circle .icon.arrow::before {
  border-color: #033663;
  border-color: #033663;
}

.button_learn-more button.learn-more .button-text {
  transition    : all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position      : absolute;
  top           : 0;
  left          : 0;
  right         : 0;
  bottom        : 0;
  padding       : 0.75rem 0;
  margin        : 0 0 0 1.85rem;
  color         : #ccc;
  font-weight   : 700;
  line-height   : 1.6;
  text-align    : center;
  text-transform: uppercase;
}

.button_learn-more button:hover .circle {
  width           : 100%;
  background-color: #ccc;
}

.button_learn-more button:hover .circle .icon.arrow {
  background: #033663;
  transform : translate(1rem, 0);
}

.button_learn-more button:hover .button-text {
  color: #033663;
}

/* @supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
} */


@media (min-width: 1900px) {

  .materia {
    transform             : translateZ(0);
    backface-visibility   : hidden;
    -webkit-font-smoothing: auto;
    -moz-font-mouth: auto;
  }

  .materia h5 {
    font-size: 27px;
    height   : 75px;
  }

  .button_learn-more button {
    /* top: 0px; */
    bottom   : 20px;
    transform: scale(1.1);
  }

  .button_learn-more button.learn-more .button-text {
    font-size: 19px;
    display  : block;
    position : absolute;
    top      : -5%;
  }

  /* .materia:hover {
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.4);
    transform : translateY(-9%)
  } */

  .button_learn-more button.learn-more .circle .icon.arrow::before {
    top: -0.28rem;
  }
}