* {
  margin                : 0px;
  padding               : 0px;
  box-sizing            : border-box;
  list-style            : none;
  font-family           : 'Playfair Display', serif;
  backface-visibility   : hidden;
  -webkit-font-smoothing: auto;
}

a:focus,
a:visited,
a:link {
  box-shadow: none !important;
  border    : none;
}



body {
  width: 100%;
}

button {
  border    : none;
  background: none;
  cursor    : pointer;
}

input[type='text'],
input[type='password'],
input[type='type'] {
  width           : 100%;
  outline         : 0;
  border          : 0 !important;
  /* margin-bottom: 9px; */
  background      : none;
  color           : #033663;
  font-size       : 15px;
  font-family     : sans-serif;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='type']:focus,
input[type='text']:link,
input[type='password']:link,
input[type='type']:link,
input[type='text']:visited,
input[type='type']:visited,
input[type='password']:visited {
  box-shadow: none !important;
  border    : none;
}


/* button {
  outline      : 0;
  border       : 0;
  background   : #d4e6f4;
  padding      : 6px;
  cursor       : pointer;
  border-radius: 2px;
} */

/* button:focus {
  outline: none;
  border : none;
} */

html {
  scroll-behavior: smooth;
}


.hidden {
  overflow: hidden !important;
}

.textDecoration {
  text-decoration: none;
  list-style     : none;
}

.App {
  padding : 0px;
  position: absolute;
  top     : 0;
  bottom  : 0;
  left    : 0;
  right   : 0;
}

.abosoluteDiv {
  position: absolute;
  top     : 0;
  bottom  : 0;
  left    : 0;
  right   : 0;
}

.btn-primaryNuestro {
  background-color: #033663 !important;
}

.btn-primaryNuestro {
  background-color: #033663 !important;
  border          : #033663 solid 1px !important;
  outline         : none !important;
  color           : white !important;
  transition      : .4s ease-out all !important;
}

.btn-primaryNuestro:focus,
.btn-primaryNuestro:link,
.btn-primaryNuestro:visited {
  outline   : #033663 !important;
  box-shadow: none !important;
  border    : #033663 solid 1px !important;
}

.btn-primaryNuestro:hover {
  color           : white !important;
  background-color: #033663cb !important;
}

.btn-secondaryNuestro {
  background-color: #333 !important;
  border          : #333 solid 1px !important;
  outline         : none !important;
  color           : white !important;
  transition      : .4s ease-out all !important;
}

.btn-secondaryNuestro:focus,
.btn-secondaryNuestro:link,
.btn-secondaryNuestro:visited {
  outline   : #333 !important;
  box-shadow: none !important;
  border    : #333 solid 1px !important;
}

.btn-secondaryNuestro:hover {
  color           : white !important;
  background-color: rgba(51, 51, 51, 0.842) !important;
}

.btn-dangerNuestro {
  background-color: #bf2231 !important;
  border          : #bf2231 solid 1px !important;
  outline         : none !important;
  color           : white !important;
  transition      : .4s ease-out all !important;
}

.btn-dangerNuestro:focus,
.btn-dangerNuestro:link,
.btn-dangerNuestro:visited {
  outline   : #bf2231 !important;
  box-shadow: none !important;
  border    : #bf2231 solid 1px !important;
}

.btn-dangerNuestro:hover {
  color           : white !important;
  background-color: #bf2232c9 !important;
}