* {
  margin                : 0px;
  padding               : 0px;
  box-sizing            : border-box;
  list-style            : none;
  font-family           : 'Playfair Display', serif;
  backface-visibility   : hidden;
  -webkit-font-smoothing: auto;
}

a:focus,
a:visited,
a:link {
  box-shadow: none !important;
  border    : none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

button {
  border    : none;
  background: none;
  cursor    : pointer;
}


/* button {
  outline      : 0;
  border       : 0;
  background   : #d4e6f4;
  padding      : 6px;
  cursor       : pointer;
  border-radius: 2px;
} */

/* button:focus {
  outline: none;
  border : none;
} */

.hidden {
  overflow: hidden !important;
}

.textDecoration {
  text-decoration: none;
  list-style     : none;
}

.App {
  padding: 0px;
}