* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

#root {
  min-height: 2000px;
}

.textDecoration {
  text-decoration: none;
  list-style: none;
}

.App {
  padding: 0px;
}