.navSideBar {
    width           : 100%;
    height          : 60px;
    position        : relative;
    background-color: #033663;
}

.navSideBar img {
    position: absolute;
    right   : 1%;
    top     : -11%;
    width   : 5%;

}



#menuToggle {
    display            : block;
    width              : 6%;
    height             : 1050px;
    position           : absolute;
    top                : 30%;
    left               : 0px;
    padding-left       : 10px;
    min-height         : 100vh;
    z-index            : 1;
    -webkit-user-select: none;
    user-select        : none;
}

#menuToggle a {
    display        : block;
    text-align     : left;
    width          : 150%;
    /* border      : solid #fff 1px; */
    text-decoration: none;
    color          : #fff;
    transition     : all 0.3s ease-in-out;
    margin-bottom  : 10px;
    text-transform: uppercase;
    padding-left: 100px;
    /* transform: translate(25%, 0);     */
}

#menuToggle button {
    padding-left: 100px;
    display        : block;
    text-align     : left;  
    color     : #fff;
    transition: all 0.3s ease-in-out;
    width     : 150%;
    text-transform: uppercase;
}

#menuToggle a:first-child:hover {
    background-color: transparent;
}

#menuToggle a:hover,
#menuToggle button:hover {
    display         : block;
    color           : #033663;
    background-color: #fff;
}


#menuToggle input {
    display : block;
    width   : 40px;
    height  : 32px;
    position: absolute;
    top     : -7px;
    left    : -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}


#menuToggle span {
    display      : block;
    width        : 33px;
    height       : 4px;
    margin-bottom: 5px;
    position     : relative;

    background   : #fff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity   : 1;
    transform : rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity  : 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuSideBarHome {
    display               : flex;
    flex-direction        : column;
    align-items           : center;
    line-height           : 50px;
    position              : absolute;
    width                 : 300px;
    height                : 200vh;
    margin                : -100px 0 0 -50px;
    padding               : 50px;
    padding-top           : 125px;
    background            : #033663;
    list-style-type       : none;
    -webkit-font-smoothing: antialiased;
    transform-origin      : 0% 0%;
    transform             : translate(-100%, 0);
    transition            : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuSideBarHome li {
    padding  : 10px 0;
    font-size: 22px;
}

#menuSideBarHome img {
    object-fit: cover;
    height    : 100px;
    display   : block;
    width     : 100px;
    display   : inline;
    position  : relative;
    top       : 0%;
    left      : 0%;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

#menuSideBarHome img:hover {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.534);
}

#menuToggle input:checked~ul {
    transform: none;
}