.nav-home{
    background-color: #033663 !important;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Playfair Display', serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
