.pointer {
    cursor: pointer;
}

.imagen-cambiar-abogado {
    transition: 0.2s;
    z-index: 5000;
}
.imagen-cambiar-abogado:hover {
    opacity: 0.85;
    /* z-index: 10000000; */
}

.container-imagen-boton:hover .boton-eliminar-imagen {
    display: block !important;
    z-index: 50001;
}
.container-imagen-boton:hover .imagen-cambiar-abogado:hover {
    z-index: 0;
}

.boton-eliminar-imagen {
    z-index: 1;
    display: none !important;
}
.boton-eliminar-imagen:hover {
    z-index: 9999999999999999 !important;
    display: block !important;

}

.body_modificar_abogado_perfil {
    min-height: 700px;
}

.body_modificar_abogado_perfil nav {
    margin-bottom: 30px;
}

.body_modificar_abogado_perfil footer {
    margin-top: 30px;
    position: relative;
}