.body_home_abogado {
 position: relative;
}

.body_home_abogado nav {
  margin-bottom: 30px;
}

.jumbotron {
  /* 
  margin-left: 20px;
  margin-right: 20px; */
  margin    : auto;
  margin-top: 10px;
  width     : 78%;
  padding   : 20px;
}

.jumbotron h1 {
  text-align     : center;
  text-decoration: underline;
  color          : #032949;
  font-size: 40px;
}

.jumbotron p {
  font-size: 17px;
}

.button-home {
  display            : inline-block;
  font-weight        : 400;
  line-height        : 1.5;
  color              : white;
  text-align         : center;
  text-decoration    : none;
  vertical-align     : middle;
  cursor             : pointer;
  -webkit-user-select: none;
  user-select        : none;
  background-color   : #033663;
  border             : 1px solid #033663;
  padding            : 0.375rem 0.75rem;
  font-size          : 1rem;
  border-radius      : 0 !important;
  transition         : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button-home:hover {
  background-color: #fff;
  transition      : all .4s ease-in-out;
  color           : #033663;
}

.p-home {
  /* color: #033663; */
  font-family: monospace;
}

.body-home {
  border-radius   : 10px;
  background-color: #e6e4e4;
}

.body_home_abogado footer {
  margin-top: 30px;
}