.site_materia_img_name {
    position     : relative;
    perspective  : 1000px;
    width        : 100%;
    transition   : all .4s ease-out;
    border       : 1px solid transparent;
    border-radius: 20px;
    box-shadow   : 17px 17px 20px #033663fb, -0px -0px 20px #033663fb;
    transform    : perspective(650px) rotateY(28deg);
}

.site_materia_img_name img {
    border-radius: 20px;
}

.site_materia_img_name p {
    position : absolute;
    bottom   : 5%;
    left     : 5%;
    font-size: 20px;
    cursor   : default;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.637);
     color: black;
}

.site_materia_img_name .hover_verMas {
    position      : absolute;
    font-size     : 14px;
    color         : #fff;
    width         : 100%;
    height        : 100%;
    border-radius : 20px;
    top           : 0;
    bottom        : 0;
    padding       : 40px;
    background    : #03366365;
    opacity       : 0;
    transform     : scale(1);
    transition    : 0.2s;
}

.site_materia_img_name .hover_verMas p {
    bottom: 40%;
    left  : 40%;
    border: solid 1px #fff;
    padding: 8px;
    cursor: pointer;
    transition: .4s;
    transform: scale(0.80);
}

.site_materia_img_name .hover_verMas p:hover {
    transform: scale(0.90);
    background-color: #033663fb;
    color: #fff;
    border: solid 1px #033663fb;
}

.site_materia_img_name .hover_verMas:hover {
    opacity: 1;
}

.site_materia_img_name:hover img {
    transform: scale(0.97);
}

.site_materia_img_name:hover img,
.site_materia_img_name:hover p {
    filter: blur(3px);
}

.site_materia_img_name .hover_verMas:hover p {
    filter: blur(0px);
}