#menu {
    position        : relative;
    bottom          : 9px;
    background-color: #ccc;
    font-size       : 16px;
}

#menu ul {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    margin         : 0;
    padding-left   : 20px;
}

nav ul .imgLogo{
    width: 15%;
  }

/* #menu .width_image {
    width: 15px; 
} */

.widht_li {
    width: -1519px;
}

.widht_li li {
    width: calc(770px / 4);
}

.widht_li li:nth-child(4) {
    width: 14%;
}

#menu ul li a {
    display  : inline-block;
    color    : #033663;
    font-size: 20px;
    position : relative;
}

/* width: 50% !important; */

#menu ul img {
    width: 9%;
}

#menu ul li a:after {
    display         : block;
    content         : '';
    position        : absolute;
    right           : 0;
    bottom          : -3px;
    left            : 0;
    width           : 100%;
    height          : 2px;
    background-color: #033663;
    transform-origin: right;
    transform       : scaleX(0);
    transition      : transform 0.2s ease-in-out;

}

#menu ul li a:hover:after {
    transform-origin: left;
    transform       : scaleX(1);
}

#menu ul li:last-of-type a {
    display                   : block;
    position                  : relative;
    width                     : 122%;
    font-size                 : 20px;
    border                    : solid 1px #033663;
    border-top-left-radius    : 7px;
    border-bottom-right-radius: 7px;
    padding                   : 6px;
    transition                : all 0.5s;
    color                     : #033663;
    text-transform            : uppercase;
    transition                : all 0.5s;
    text-align                : center;
    z-index                   : 1;
}

#menu ul li:last-of-type a:after {
    display                   : block;
    width                     : 100%;
    height                    : 100%;
    position                  : absolute;
    left                      : 0;
    bottom                    : 0;
    content                   : '';
    transform-origin          : left;
    transform                 : scaleX(0);
    z-index                   : -2;
    border                    : solid 1px transparent;
    border-top-left-radius    : 7px;
    border-bottom-right-radius: 7px;
    transition                : .4s ease-out;

}

/* #menu ul li:last-of-type a {
    width         : 18%;
} */

#menu ul li:last-of-type a:hover::after {
    transform                 : scaleX(1);
    /* border                    : solid 1px #ccc; */
    color                     : #ccc;
    background-color          : #033663;
    border-top-left-radius    : 7px;
    border-bottom-right-radius: 7px;
}

#menu ul li:last-of-type a:hover {
    color: white;
}

/* 
#menu ul li:last-of-type a:hover {
} */


/* -------------------Medias Query------------------- */

@media (min-width: 1592px) and (max-width: 1920px) {
    #menu {
        position: relative;
        top     : -30px;
    }

    .widht_li li:nth-child(4) {
        width: 11%;
    }

    #menu ul li a {
        font-size: 25px;
    }

    #menu ul li a:after {
        height          : 4px;    
    }

    #menu ul li:last-of-type a {
        font-size: 27px;
        width: 162%;
    }
}