.SideBar {
  transition: all 0.5s ease;
  width: 14rem;
  height: 100vh;
  background: #ccc;
}

.SideBar ul {
  padding-left: 0;
}

.SideBar ul li {
  text-align: center;
}

.SideBar ul li a {
  text-decoration: none;
  color: #033663;
  transition: all 0.5s ease;
  font-size: 25px;
  padding: 0 2rem;
  border-radius: 5px;
}

.SideBar ul li a:hover {
  text-decoration: underline;
  color: black;
}

.selected a {
  background: #9e9e9e;
}
